main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.dropdown-container {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 10px;
    margin-bottom: 5px;
}
  
.dropdown-container label {
    display: block;
    color: var(--vscode-foreground);
    cursor: pointer;
    font-size: var(--vscode-font-size);
    line-height: normal;
    margin-bottom: 5px;
}

.config-container {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 10px;
    margin-bottom: 10px;
}

.policy-text-area-container {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

.control {
    width: 50%;
    height: 100%;
}

.control-path-container {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
    height: 100%;
    margin-bottom: 5px;
}

.main-dropdown-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.validate-container {
    display: grid;
    grid-auto-flow: row;
    grid-column-gap: 10px;
    height: 100%;
    margin-bottom: 10px;
}

.run-button {
    width: fit-content;
    height: fit-content;
}

.button-container {
    display: grid;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding-bottom: 10px;
}